button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 48px;
    gap: 10px;

    width: 100%;
    max-width: 448px;
    height: 40px;

    background: #46644600;
    border-radius: 25px;

    border: none;

    cursor: pointer;

    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;

    text-decoration-line: none;
    text-decoration: none;
}